<nav class="navbar navbar-expand-lg bg-body-tertiary px-5 py-3">

  <div class="container-fluid">
    
    <div class="d-flex align-items-center gap-3">
      <img class="Logo-bag-white" src="assets\images\Logo-bag-white.png" alt="Logo-bag-white">
      <a class="navbar-brand guia-fatec" routerLink="home">Guia do mochileiro<br>Fatecano</a> <!-- Não consegui quebrar a linha de forma natural -->
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav ms-auto gap-4">
        
        <!-- Botão Home -->
        <li [ngClass]="{ 'item-selecionado': itemAtivo === 'home' }" class="nav-item d-flex align-items-center">
          <img class="img-logo" src="assets/images/home-logo.png" alt="home-logo">
          <a (click)="selecionarItem('home')" class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>

        <!-- Botão Notificações -->
        <li [ngClass]="{ 'item-selecionado': itemAtivo === 'notificacoes' }" class="nav-item d-flex align-items-center">
          <img src="assets/images/bell-logo.png" alt="bell logo">
          <a (click)="selecionarItem('notificacoes')" class="nav-link active" routerLink="home">Notificações</a>
        </li>

        <!-- Botão Matérias -->
        <li [ngClass]="{ 'item-selecionado': itemAtivo === 'materias' }" class="nav-item d-flex align-items-center">
          <img src="assets/images/book-logo.png" alt="book logo">
          <a (click)="selecionarItem('materias')" class="nav-link active" routerLink="home">Matérias</a>
        </li>

        <!-- Botão Valores -->
        <li [ngClass]="{ 'item-selecionado': itemAtivo === 'valores' }" class="nav-item d-flex align-items-center">
          <img src="assets/images/star-logo.png" alt="star logo">
          <a (click)="selecionarItem('valores')" class="nav-link active" routerLink="home">Valores</a>
        </li>

        <!-- Botão Sair -->
        <li [ngClass]="{ 'item-selecionado': itemAtivo === 'sair' }" class="nav-item d-flex align-items-center">
          <img src="assets/images/log-in-logo.png" alt="log-out">
          <a (click)="selecionarItem('sair')" class="nav-link active" routerLink="">Sair</a>
        </li>

      </ul>
    </div>

  </div>

</nav>

<!-- Titulo, subtitulo e +termos -->
<section class="d-flex container-fluid align-items-center px-5 py-3">
  <div>
    <h1 class="h1-termos">Termos</h1>
    <h3 class="sub-titulo">Qual termo gostaria de acessar hoje?</h3>
  </div>

  <div class="ms-auto">  
    <button class="btn btn-add-turma d-flex align-items-center gap-4">
      <img src="assets\images\plus-logo.png" alt="plus-logo">
      Adicionar turma
    </button>
  </div>



</section>